// this file is to be compiled by microsoft resource compiler.
// https://learn.microsoft.com/en-us/windows/win32/menurc/resource-compiler
//
// generally, the resource script language supports comments.
// so, that's what these lines are of course.

MonkeyDemoIcon                           ICON                    "theicon.ico"

MonkeyDemoIcon_CursorArrow               CURSOR                  "arrow.cur"
MonkeyDemoIcon_CursorHand                CURSOR                  "move.cur"
MonkeyDemoIcon_CursorSize_ns             CURSOR                  "resize_vertical.cur"
