// this file is to be compiled by microsoft resource compiler.
// https://learn.microsoft.com/en-us/windows/win32/menurc/resource-compiler
//
// generally, the resource script language supports comments.
// so, that's what these lines are of course.

MonkeyDemoIcon                           ICON                    "theicon.ico"

MonkeyDemoIcon_CursorArrow               CURSOR                  "arrow.cur"
MonkeyDemoIcon_CursorIbeam               CURSOR                  "ibeam.cur"
MonkeyDemoIcon_CursorSize_all            CURSOR                  "move.cur"
MonkeyDemoIcon_CursorSize_ns             CURSOR                  "resize_vertical.cur"
MonkeyDemoIcon_CursorSize_we             CURSOR                  "resize_horizontal.cur"
MonkeyDemoIcon_CursorSize_nesw           CURSOR                  "diag_up.cur"
MonkeyDemoIcon_CursorSize_nwse           CURSOR                  "diag_down.cur"
MonkeyDemoIcon_CursorHand                CURSOR                  "pointing_hand.cur"
MonkeyDemoIcon_CursorNotAllowed          CURSOR                  "denied.cur"